/* Global dark theme styling for Knowli */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2F3C7E;
  color: #A8E6CF;
  font-family: 'Inter', sans-serif;
}

input, button {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
